@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    * {
        box-sizing: border-box;
    }
}

@layer components {
    .menu-item {
        @apply text-base hover:bg-primary cursor-pointer;
    }
}

@layer utilities {
    #titlebar {
        -webkit-app-region: drag;
    }

    #titlebar .nobar {
        -webkit-app-region: no-drag;
    }
}