@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {

    html,
    body {
        background-color: transparent;
    }
} */

@layer components {
    .menu-item {
        @apply text-base hover:bg-primary cursor-pointer;
    }
}

@layer utilities {
    #titlebar {
        -webkit-app-region: drag;
    }

    #titlebar .nobar {
        -webkit-app-region: no-drag;
    }
}